ABC - XYZ анализ SQL/.dbeaver/.project-metadata.json.bak
ABC - XYZ анализ SQL/.dbeaver/credentials-config.json
ABC - XYZ анализ SQL/.dbeaver/data-sources.json
ABC - XYZ анализ SQL/.dbeaver/project-metadata.json
ABC - XYZ анализ SQL/.dbeaver/project-settings.json
ABC - XYZ анализ SQL/.project
Cohort и LTV Анализ/.dbeaver/.project-metadata.json.bak
Cohort и LTV Анализ/.dbeaver/credentials-config.json
Cohort и LTV Анализ/.dbeaver/data-sources.json
Cohort и LTV Анализ/.dbeaver/project-metadata.json
Cohort и LTV Анализ/.dbeaver/project-settings.json
Cohort и LTV Анализ/.project
