ABC - XYZ анализ/.dbeaver/.project-metadata.json.bak
ABC - XYZ анализ/.dbeaver/credentials-config.json
ABC - XYZ анализ/.dbeaver/data-sources.json
ABC - XYZ анализ/.dbeaver/project-metadata.json
ABC - XYZ анализ/.dbeaver/project-settings.json
ABC - XYZ анализ/.project
Промежуточный анализ продаж в SQL/.dbeaver/.project-metadata.json.bak
Промежуточный анализ продаж в SQL/.dbeaver/credentials-config.json
Промежуточный анализ продаж в SQL/.dbeaver/data-sources.json
Промежуточный анализ продаж в SQL/.dbeaver/project-metadata.json
Промежуточный анализ продаж в SQL/.dbeaver/project-settings.json
Промежуточный анализ продаж в SQL/.project
